body, html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #F2F2F2;
}

.header-logo {
  display: block;
  margin: 18px auto;
  width: 71px;
  height: 48px;
}

.hero-img {
  background: url("https://assets.codepen.io/6060109/athlete-girl.png") no-repeat right top;
  background-size: cover;
  width: 100%;
  height: 200px;
}